@media(max-width: 720px) {

    * {
        overflow-y: visible;
    }

    body {
        font-family: 'Comfortaa', cursive;
        font-size: 15px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .a1 {
        grid-column: 1;
        width: 100vw;
        margin: 0;
    }

    .a1 h1 {
        padding: 2rem;
    }

    .a1 img {
        height: 20vh;
    }

    .a2 {
        grid-column: 1;
        width: 100vw;
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .a2 button {
        border-radius: 2rem;
        width: 100%;
        margin: 2rem 0 2rem 0rem;
    }

    .a3 {
        width: 100vw !important;
        min-height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .a3 button {
        border-radius: 2rem;
        width: 50%;
        margin-top: 20px !important;
        margin-left: 25% !important;
    }

    h2 {
        padding: 20px !important;
        margin-top: 0 !important;
    }

    #cita {
        margin-left: 175px;
        margin-top: -15px
    }

}
